<h2>Welcome <%= @user.name %></h2>

<div class="created_events">
    <h3>Past Events you created</h3>
    <ul>
      <% @user_past_events.each do |event|%>      
        <li><%= event.name %></li>      
      <% end %>
    </ul>
    
    <h3>Upcoming Events you created</h3>
    <ul>
      <% @user_future_events.each do |event|%>      
        <li><%= event.name %></li>      
      <% end %>
    </ul>
</div>

<div class="past-events">
  <h3>Past Events</h3>
  <ul>
    <% @past_events.each do |event|%>      
      <li><%= event.name %></li>      
    <% end %>
  </ul>
</div>

<div class="future_event">
  <h3>Future Events</h3>
  <ul>
    <% @future_events.each do |event|%>      
      <li><%= event.name %></li>      
    <% end %>
  </ul>
</div>