<p id="notice"><%= notice %></p>

<h3><%= @event.creator.name %></h3>

<h4><%= @event.name %></h4>

<p><%= @event.description %></p>

<%= form_with(:url => attend_event_index_path) do |f| %>
  <%= f.hidden_field :event_id, value: @event.id %>  
  <%= f.submit "Attend this Event" %>
<% end %>
<br />

<ul>
  <% @event.attendees.each do |attendee| %>
    <li><%= attendee.name %></li>  
  <% end %>
</ul>


<%= form_with(:url => user_invitation_index_path) do |f| %>
  <%= f.hidden_field :event_id, value: @event.id %>
  <%=f.label :username%>
  <%=f.text_field :name%>
  <%= f.submit "Invite User" %>
<% end %>


