<p id="notice"><%= notice %></p>

<h3><%= @event.creator.name %></h3>

<h4><%= @event.name %></h4>

<p><%= @event.description %></p>

<ul>
  <% @event.attendees.each do |attendee| %>
    <li> <%= attendee.name %> </li>  
  <% end %>
</ul>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
